* {
  box-sizing: border-box;
  background-color: black;
  margin: 0%;
  font-family: "Roboto Condensed", sans-serif;
}

img {
  width: 100%;
}

.layout {
  margin: 70px 0px 175px 0px;
}

.about {
  display: flex;
  flex-direction: column;
}

.mail {
  padding-right: 175px;
  font-weight: 500;
  color: white;
  text-align: right;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  order: 1;
}

.full-name {
  text-align: center;
  color: white;
  padding-top: 130px;
  width: 100%;
  order: 2;
}

.first-name {
  font-size: 170px;
  font-weight: 200;
  padding-bottom: 12px;
}

.surname, .designation {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.designation {
  font-size: 50px;
}
.designation:not(.product) {
  color: #cecece;
  font-family: "Roboto", sans-serif;
}

.bold-text {
  color: #b8e986;
  font-family: "Roboto", sans-serif;
}

.product {
  color: #4a90e2;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

.text, .footer-text {
  color: #cecece;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 50px;
  margin: 150px 0px 90px 0px;
}

.footer-text {
  margin: 100px 0px 90px 0px;
  color: white;
  font-size: 20px;
}

.container {
  margin: 160px 175px 0px 175px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
}

.logo-container {
  margin: 160px 175px 0px 175px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 90px;
  align-items: center;
}
.logo-container img {
  max-width: 140px;
}

.card {
  width: 425px;
}

.dash {
  color: white;
  margin: 260px 0px 0px 0px;
  display: flex;
  justify-content: center;
  column-gap: 35px;
}

.small-dash {
  width: 35px;
  border-top: 1px solid white;
}

.long-dash {
  width: 220px;
  border-top: 1px solid white;
}

.social-media {
  margin: 100px 0px 0px 0px;
}

.fa {
  border: 1px solid white;
  padding: 10px;
  font-size: 1.85rem;
  margin: 8px;
  text-align: center;
  text-decoration: none;
  background-color: black;
  border-radius: 500px;
  height: 53px;
  width: 53px;
  color: white;
}
.fa:hover {
  opacity: 0.7;
}

.media-icon {
  margin: 100px 0px 0px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 912px) {
  .full-name {
    padding-bottom: 10px;
    order: 1;
  }
  .first-name {
    font-size: 70px;
  }
  .designation {
    font-size: 40px;
  }
  .layout {
    margin: 10px;
  }
  .container {
    margin: 80px 50px 50px 50px;
  }
  .card {
    width: 100%;
  }
  .mail {
    text-align: center;
    padding: 0;
    order: 2;
    font-size: 20px;
  }
}
@media screen and (max-width: 820px) {
  .container {
    margin: 80px 30px 30px 30px;
  }
  .logo-container {
    margin: 10px;
  }
}
@media screen and (max-width: 768px) {
  .logo-container {
    gap: 40px;
  }
  .logo-container img {
    max-width: 100px;
  }
}
@media screen and (max-width: 600px) {
  .first-name {
    font-size: 40px;
  }
  .designation {
    font-size: 20px;
  }
  .text, .footer-text {
    font-size: 30px;
  }
  .mail {
    font-size: 10px;
  }
  .dash {
    margin-top: 100px;
  }
  .media-icon {
    margin-top: 40px;
  }
  .footer-text {
    margin-top: 30px;
  }
}
@media screen and (max-width: 390px) {
  .dash {
    column-gap: 20px;
  }
  .small-dash {
    width: 20px;
  }
  .long-dash {
    width: 150px;
  }
  .text, .footer-text {
    font-size: 20px;
  }
  .container {
    margin: 80px 10px 10px 10px;
  }
  .fa {
    padding: 7px;
    font-size: 17px;
    margin: 5px;
    height: 33px;
    width: 33px;
  }
  .footer-text {
    font-size: 10px;
  }
}

/*# sourceMappingURL=newstyles.css.map */
