*{
    margin: 0%;
    box-sizing: border-box;
    background-color: #2a2b30
}
img{
    width: 100%;
}
.dropbtn {
    padding: 35px;
    border-color: #343333;
    border: solid;
    border-radius: 50%;
    margin-bottom: 25px; 
    background-color: #d8d8d8;      
}
.sub-body{
   
    margin-top: 20px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 200px;
}
.dropdown {
    position: relative;
    display: inline-block;
    left: 94%;       
    bottom: 70px;
}
.row{
    float: left;
    width: 25%;
    padding: 25px;   
}    
.caption{
    color: white;
    padding-top: 10px;
    font-size: larger;
    font-family: "Roboto", sans-serif;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1; 
    width: 250px;      
    z-index: 1;  
    right: 0%;
}
.dropdown-content a {
    color: black;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: "Roboto", sans-serif;
    background-color: white;    
}
.first-line{
    width: 100%;
    margin-top: 60px;
    margin-left: 20px;
}
.black-container{
    position: relative;
    width: 340px;
    height: 420px;
    background-color: #24252a;
}
.image{
    position: absolute;
    top:18%;
    left: 20%;
    width: 200px;
    height: 250px;
    background-color: #24252a;
}    
.green-circle{
    position: absolute;
    background-color: #88b181;
    border-radius: 50%;
    border: solid #88b181;
    width: 50px;
    height: 50px;
    bottom:-6%;
    right: 6%;
}
.star{
    position: absolute;    
    background-color: #24252a;
    font-size: x-large;
    top:4%;
    right: 6%; 
    color: #88b181; 
}
.shirt-size{
    position: absolute;
    color: #111111;
    bottom: 30%;
    right: 35%;
    background-color: #88b181;
    font-size: larger;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}
.logo{
    width: 180px;
    height: 60px;
}
.first-row{
    margin-top: -50px;
}
button{
    color: gainsboro;
    border: 1px solid gainsboro;
    padding: 10px;
    font-family: "Roboto", sans-serif;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.static {
    position: static;
    border: 3px solid #73AD21;
}
.fixed {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-decoration: none;
    background-color: black;
    color: white;
    font-size: larger;
    text-align: center;
    height: 9%;
    padding-top: 30px ;    
    display: flex;
    justify-content: space-evenly;    
}
.fixed div, pre{
    background-color: black;
    font-family: "Roboto", sans-serif;
    font-weight: bold;   
}
.rupee{
    color: gainsboro;
    font-size: large;
    padding-top: 2px;
    font-family: "Roboto", sans-serif;
}
button:hover{
    cursor: pointer;
}  