@mixin margin($t: 0, $r: 0, $b: 0, $l: 0) {
    margin: $t $r $b $l;
}

@mixin flex-wrap-property{
    display: flex;
	flex-wrap: wrap; 
}

@mixin flex-wrap-margin{
    @include margin(160px, 175px, 0px, 175px);
	@include flex-wrap-property;
}