$color-white: white;
$color-green: #b8e986;
$color-blue: #4a90e2;
$color-gray: #cecece;
$font-family-condensed: 'Roboto Condensed', sans-serif;
$font-family-roboto: 'Roboto', sans-serif;
$background-color-black: black;
