$color_white: white;
$color_green: #b8e986;
$color_blue: #4a90e2;
$color_gray: #cecece;
$font-family_condensed: 'Roboto Condensed', sans-serif;
$font-family_roboto: 'Roboto', sans-serif;
$background-color_black: black;
