@import "_variables";
@import "_mixins";
* {
	box-sizing: border-box;
	background-color: $background-color_black;
	margin: 0%;
	font-family: $font-family_condensed;
}
img {
	width: 100%;
}
.layout {
	margin: 70px 0px 175px 0px;
}
.about {
	display: flex;
	flex-direction: column;
}
.mail {
	padding-right: 175px;
	font-weight: 500;
	color: $color_white;
	text-align: right;
	font-family: $font-family_roboto;
	font-size: 25px;
	order: 1;
}
.full-name {
	text-align: center;
	color: $color_white;
	padding-top: 130px;
	width: 100%;
	order: 2;
}
.first-name {
	font-size: 170px;
	font-weight: 200;
	padding-bottom: 12px;
}
.surname {
	font-family: $font-family_roboto;
	font-weight: 700;
}
.designation {
    @extend .surname;
	font-size: 50px;
	&:not(.product) {
		color: $color_gray;
		font-family: $font-family_roboto;
	}
}
.bold-text {
	color: $color_green;
	font-family: $font-family_roboto;
}
.product {
	color: $color_blue;
	font-family: $font-family_roboto;
	font-weight: 900;
}

.text {
	color: $color_gray;
	font-family: $font-family_roboto;
	text-align: center;
	font-weight: 700;
	font-size: 50px;
    @include margin(150px, 0px, 90px, 0px);
}
.footer-text {
    @extend .text;
	@include margin(100px, 0px, 90px, 0px);
	color: $color_white;
	font-size: 20px;
}
.container {
    @include flex-wrap-margin;
	justify-content: center;
	gap: 35px;
}
.logo-container {	
    @include flex-wrap-margin;
	justify-content: space-evenly;
	gap: 90px;
	align-items: center;
	img {
		max-width: 140px;
	}
}
.card {
	width: 425px;
}
.dash {
	color: $color_white;
	@include margin(260px, 0px, 0px, 0px);
	display: flex;
	justify-content: center;
	column-gap: 35px;
}
.small-dash {
	width: 35px;
	border-top: 1px solid white;
}
.long-dash {
	width: 220px;
	border-top: 1px solid white;
}
.social-media {
	@include margin(100px, 0px, 0px, 0px);
}
.fa {
	border: 1px solid $color_white;
	padding: 10px;
	font-size: 1.85rem;
	margin: 8px;
	text-align: center;
	text-decoration: none;
	background-color: $background-color_black;
	border-radius: 500px;
	height: 53px;
	width: 53px;
	color: $color_white;
	&:hover {
		opacity: 0.7;
	}
}
.media-icon {
	@include margin(100px, 0px, 0px, 0px);
	@include flex-wrap-property;
	justify-content: center;
}
@import "media-queries";