$color_1: white;
$color_2: #b8e986;
$color_3: #4a90e2;
$color_4: #cecece;
$font-family_1: 'Roboto Condensed', sans-serif;
$font-family_2: 'Roboto', sans-serif;
$background-color_1: black;

* {
	box-sizing: border-box;
	background-color: $background-color_1;
	margin: 0%;
	font-family: $font-family_1;
}
img {
	width: 100%;
}
.layout {
	margin: 70px 0px 175px 0px;
}
.about {
	display: flex;
	flex-direction: column;
}
.mail {
	padding-right: 175px;
	font-weight: 500;
	color: $color_1;
	text-align: right;
	font-family: $font-family_2;
	font-size: 25px;
	order: 1;
}
.full-name {
	text-align: center;
	color: $color_1;
	padding-top: 130px;
	width: 100%;
	order: 2;
}
.first-name {
	font-size: 170px;
	font-weight: 200;
	padding-bottom: 12px;
}
.surname {
	font-family: $font-family_2;
	font-weight: 700;
}
.designation {
    @extend .surname;
	font-size: 50px;
	&:not(.product) {
		color: $color_4;
		font-family: $font-family_2;
	}
}
.bold-text {
	color: $color_2;
}
.product {
	color: $color_3;
	font-family: $font-family_2;
	font-weight: 900;
}
@mixin margin($t: 0, $r: 0, $b: 0, $l: 0) {
    margin: $t $r $b $l;
}
.text {
	color: $color_4;
	font-family: $font-family_2;
	text-align: center;
	font-weight: bolder;
	font-size: 50px;
    @include margin(150px, 0px, 90px, 0px);
}
.footer-text {
    @extend .text;
	@include margin(100px, 0px, 90px, 0px);
	color: $color_1;
	font-size: 20px;
}
@mixin flex-wrap-property{
    display: flex;
	flex-wrap: wrap; 
}
@mixin flex-wrap-margin{
    @include margin(160px, 175px, 0px, 175px);
	@include flex-wrap-property;
}
.container {
    @include flex-wrap-margin;
	justify-content: center;
	gap: 35px;
}
.logo-container {	
    @include flex-wrap-margin;
	justify-content: space-evenly;
	gap: 90px;
	align-items: center;
	img {
		max-width: 140px;
	}
}
.card {
	width: 425px;
}
.dash {
	color: $color_1;
	@include margin(260px, 0px, 0px, 0px);
	display: flex;
	justify-content: center;
	column-gap: 35px;
}
.small-dash {
	width: 35px;
}
.long-dash {
	width: 220px;
}
.social-media {
	@include margin(100px, 0px, 0px, 0px);
}
.fa {
	border: 1px solid $color_1;
	padding: 10px;
	font-size: 1.85rem;
	margin: 8px;
	text-align: center;
	text-decoration: none;
	background-color: $background-color_1;
	border-radius: 500px;
	height: 53px;
	width: 53px;
	color: $color_1;
	&:hover {
		opacity: 0.7;
	}
}
.media-icon {
	@include margin(100px, 0px, 0px, 0px);
	@include flex-wrap-property;
	justify-content: center;
}
@import "media-queries";