*{
    box-sizing: border-box;
    margin: 0;   
    font-family: sans-serif;
}
.black-container{
    background-color: black;
    height: 903px;
    padding: 250px;
}
.white-container{
    background-color: white;
}
.head{    
    background-color: #aae187;
    height: 72px;       
    font-weight: 500;
}
#shapes{
    display: flex;
    gap: 70px;
    justify-content: center;
    margin-top: 90px;        
}
ul{
    list-style-type: none;
}
li{
    float: left;
}
li a{
    display: block;
    color: black;
    font-size: 20px;
    padding: 25px 0px 25px 0px;
    text-decoration: none;
}  
.math{
    padding-right: 1365px;
}
#section-1{
    display: block;
}
#section-2, #section-3{
    display: none;
}
#choose{
    color: white;
    font-size: 55px;
    text-align: center;
}
#tick{
    display: none;
    position: absolute;
    height: 60px;
    width: 30px;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
}
button{
    color: white;
    background-color: black;
    width: 200px;
    border: 1px solid white;
    font-size: 30px;
    padding: 15px;   
    margin: 110px 0px 0px 510px; 
}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#next-button{
    display: none;   
}
#label, #result-label{
    color: white;
    font-size: 50px;
    text-align: center;
}
#result-label div:nth-child(2){
    margin-top: 120px;   
}
#label{
   margin-top: 40px;
}
.input-box{
    border: 1px solid white;
    background-color: black;
    width: 700px;
    height: 65px;
    color: white;
    font-size: 40px;
    position: absolute;
    left:30%;
    padding-left:310px;
}    
tr td:nth-child(2){
    background-color: #455d7e;
} 
tr td:nth-child(1){
    width: 50%;
}
table {
    border-collapse: separate;
    border-spacing: 0 15px;
    position: absolute;
    top:55%;
    right: 36%;
    width: 28%;
    font-size: 18px;
}
#circle{
    width: 155px;
    height: 155px;
    background-color: #00987d;
    border-radius: 50%;
}
#triangle{
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-bottom: 165px solid #ffaadc;
    width: 155px;
    height: 155px;
}
#square{
    background-color: #e0e0e0;
    width: 155px;
    height: 155px;
}
#circle:hover, #triangle:hover, #square:hover, button:hover{
    cursor: pointer;
}
.shape-position{
    position: absolute;
    top: 25%;
    left:45%;
}
td {
    background-color: #3188ff;
    color: white;    
    padding: 10px;
    text-align: left;
}
#restart{
    position: absolute;
    bottom: 13%;
    right: 42%;
    font-size: 25px;
    width: 300px;
    padding: 10px;
}
#calculate{
    width: 250px;
    font-size: 25px;
    position: absolute;
    right:43%;
}
