body {
	background-color: #010100;
	margin: 0;
	font-family: 'Lato';
}

header {
	background-color: #021c2e;
	margin: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
}

#logo {
	font-family: 'IBM Plex Sans';
	color: white;
	padding: 20px;
}

.edit-buttons {
	display: flex;
	padding: 20px;
}

.click-btn {
	border-radius: 200px;
	padding: 5px 20px 5px 20px;
	margin: 0px 5px 0px 5px;
	cursor: pointer;
	border: 1px;
	color: white;
}

#deleteall-btn {
	background-color: #a80000;
}

#new-btn {
	background-color: #b355b6;
}

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

/* @keyframes slideIn {
	0% { left: 100%; }
	100% { left: 0; }
} */

.sidepanel {
	background-color: #010100;
	width: 35%;
	padding: 25px;
	color: white;
}

.transparency-effect {
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background-color: #021c2ea9;
	position: fixed;
	display: none;
	flex-direction: row-reverse;
	animation: fadeIn 0.5s;
}

.head-bar {
	background-color: #021c2e;
	color: white;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

.head-bar > a {
	text-decoration: none;
	color: white;
}

input {
	color: white;
	border: none;
	background-color: inherit;
	margin: 10px 0 10px 0;
	width: 100%;
	max-width: 100%;
	resize: both;
}

#note-title {
	margin-top: 30px;
	font-size: 20px;
}

#note-content {
	color: white;
	border: none;
	background-color: inherit;
	margin: 10px 0 10px 0;
	width: 100%;
	max-width: 100%;
	resize: both;
	font-family: inherit;
	overflow-y: auto;
}

.sidepanel-footer {
	position: absolute;
	bottom: 30px;
	display: flex;
	justify-content: space-between;
	width: inherit;
}

.color-palette {
	display: flex;
	justify-content: space-evenly;
	color: #010100;
}

.color-btn {
	border-radius: 100%;
	width: 25px;
	height: 25px;
	cursor: pointer;
	border: 1px;
	margin: 0 5px 0 5px;
}

#lavender-btn {
	background-color: #eacded;
	color: #010100;
}

#ivory-btn {
	background-color: #fcfcfc;
	color: #010100;
}

#orange-btn {
	background-color: #feca73;
	color: #010100;
}

#green-btn {
	background-color: #e5ee90;
	color: #010100;
}

#lightred-btn {
	background-color: #ffa68a;
	color: #010100;
}

#add-btn {
	background-color: #b355b6;
}

.empty-msg {
	width: 100%;
	text-align: center;
	color: white;
	margin-top: 70px;
	display: block;
}

#whole-content {
	width: 100%;
	display: grid;
	padding-top: 60px;
}

.grid {
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(auto-fill, 250px);
	justify-content: center;
	align-content: space-around;
	column-gap: 20px;
	row-gap: 20px;
}

.grid-block {
	background-color: white;
	width: 250px;
	border-radius: 5px;
	cursor: pointer;
}

.alert-confirm {
	display: none;
	position: fixed;
	top: 0;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: #021c2ea9;
}

.alert-dialog {
	background-color: #010100;
	padding: 10px;
	width: 35%;
	text-align: center;
}

.ask-confirm {
	color: white;
	text-align: center;
	padding: 20px;
}

.confirm-btn {
	background-color: #b355b6;
	margin: 5px;
}

#edit-btn {
	background-color: #b355b6;
}

#delete-btn {
	background-color: #a80000;
}