*{
    box-sizing: border-box;
    margin: 0;
}  
header{    
    color: white;
    padding: 25px; 
    font-family: "Roboto", sans-serif;
    font-weight: bold; 
    background-color: #43133e;     
}
.content{
    margin: 40px;
}
.column{
    float: left;
    width: 33.333%;
    padding: 10px;   
}
.column1-margin{
    margin-bottom: 35px;  
}
.column2-margin{
    margin-bottom: 45px;  
}
.pic{
    margin: 0;
}
.caption{
    font-family: "Roboto", sans-serif;
    font-size: larger;
    margin-bottom: 10px;
    margin-top: 15px;
    font-weight: 100 !important;
}
p{    
    font-family: Roboto !important;    
}
.bigger{
    font-size: 30pt !important;
    font-weight: 200 !important;    
    color: #7a1755;    
    margin-bottom:30px;
}
.para{        
    max-width: 100%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
}   
footer{    
    width: 100%;
    background-color: #7a1755;
    font-family: "Roboto", sans-serif;
    font-weight: bold; 
    color: white;  
    text-align: left;   
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
}
button{
    padding: 10px 25px; 
    background-color: #7a1755;  
    border: solid 1px #7a1755; 
    color: white;    
    text-align: center;
}
.content2{
    margin-left: auto; 
    margin-right: auto;    
    margin-bottom: 55px;     
    text-align: justify;
    height: 60%;
    width: 85%;
    line-height: 1.5;    
    font-size: 10pt !important;
    font-weight: 200 !important;
}
.lorem{
    margin-top: 20px;
    margin-bottom: 18px;
    font-size: 10pt !important;
    font-weight: 300 !important;
}
.this{
    font-size: 10pt !important;
    font-weight: 300 !important;
}