*{
    box-sizing: border-box;
    margin: 0;
}  
header{    
    color: white;
    padding: 25px; 
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 900; 
    background-color: #43133e;     
}
.content{
    margin: 40px;
}
.card{
    display: inline-block;
    width: 33%;
    padding: 8px;   
}
.card1-margin{
    margin-bottom: 35px;  
}
.card2-margin{
    margin-bottom: 65px;  
}
.pic{
    margin: 0;
}
button:hover{
    cursor: pointer;
}
.caption{
    font-family: "Roboto", sans-serif;
    font-size: larger;
    margin-bottom: 10px;
    margin-top: 15px;
    font-weight: 100;
}
p{    
    font-family: Roboto;   
}
.bigger{
    font-size: 30pt;
    font-weight: 300;   
    color: #7a1755;    
    margin-bottom:30px;  
}
footer{    
    width: 100%;
    background-color: #7a1755;
    font-family: "Roboto", sans-serif;
    font-weight: bold; 
    font-size: smaller;
    color: white;  
    text-align: left;   
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
}
.place{
    font-size: smaller;
}
button{
    padding: 10px 25px; 
    background-color: #7a1755;  
    border: solid 1px #7a1755; 
    color: white;    
    text-align: center;
    font-size: small;
}
.lorem-content2{
    margin-left: auto; 
    margin-right: auto;    
    margin-bottom: 55px;     
    text-align: justify;
    height: 60%;
    width: 85%;
    line-height: 1.5;    
    font-size: 15pt; 
    font-weight: 200;  
}
.lorem-content{
    margin-top: 20px;
    margin-bottom: 18px;
    font-size: 10pt; 
    font-weight: 300; 
    line-height: 1.4;
}
.footer-content{
    font-size: 8pt;
    font-weight: 300;
}